.card {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: white;
  }
  .card > .img-container > img {
    width: 80%
  }
  
  
  